<div id="newadapter" class="modal">
  <div class="modal-content">
    <h4>New Network Adapter</h4>
          <div class="row">
        <div class="input-field col s12">
          <input id="newadapter" name="newadapter" type="text" class="active validate" placeholder="Desired RDP Username" />
          <label for="newadapter">Adapter name</label>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button id="addadapter" name="addadapter" class="modal-action modal-close waves-effect waves-green btn-flat">Add Adapter</button>
  </div>
</div>